*{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-top: 130px;
   
    margin-bottom: 30px;
}
.text-primary{

    color: #FD6E0A;   
   }
   .btn-primary{
    color: #FFFFFF;
    height: 64px;
    padding: 18px 35px;
border-radius: 5px;
background-color:#FD6E0A;
font-weight: 700;
font-size: 20px;
 border: 0px;


   }
   .what-i-do{
text-decoration: #474747;
text-align: center;
   }
   
/*header & navigation styles */
.nav-title{
font-weight: 800;
font-size: 45px;
}

nav{
    display: flex;
    justify-content: space-between;
     margin: 50px 200px;
}
nav li{
list-style: none;
margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;

}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/*banners style*/
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;

}
.banner-title{
    font-weight: 700;
font-size: 85px;
margin-bottom: 20px;

}
.banner-sub{
    font-weight: 600;
font-size: 45px;
}
.banner-description{
    font-size: 18px;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
/*Main section*/
.main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About Style*/
.about{
    margin-top: 130px;
    background: #FFF8F3;
border-radius: 10px;
padding: 140px 150px;
text-align: center;
font-size: 35px;
font-weight: 600;

}
.section-title{
    text-align: center;
margin-bottom: 130px;
margin-top: 130px;
font-weight: 700;
font-size: 35px;
}
.section-description{
    color: #FD6E0A;
    margin-bottom: 52px;
    font-size: 25px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 23px;
    color: #757575;
}
.info-description{
    color: #474747;
    font-size: 24px;
}
/* what i do content */

.Skill{
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
text-align: left;

}
.extra{
padding:30px 345px 50px 346px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 400;
font-size: 16px;
margin-top: 30px; 
margin bottom: 20px;

}
.skill-description{
    color: #474747;
    margin-top: 20px;
}
/*my resume style*/
.resume-conten{
    display: flex;
}
.resume-content{
display: flex;
}
 .resume-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    }
.resume-title-header{
    font-weight: 700;
    font-size: 25px;
}
.resume-title-sub-header{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume-article{
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}
.btn-last{
    
margin: 0 auto;
color: #FFFFFF;
height: 64px;
padding: 18px 35px;
border-radius: 5px;
background-color:#FD6E0A;
font-weight: 700;
font-size: 20px;
border: 0px;

}